<% if user_signed_in? %>
  Hola <strong><%= current_user.email %></strong>!
  <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Registrarse", new_user_registration_path %> |
  <%= link_to "Iniciar sesión", new_user_session_path %>
<% end %>

<%= yield %>
<h2>Biblioteca Popular</h2>

<p>Esta aplicación va a estar recontra buena!!!.</p>